* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

html,
body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	flex-wrap: wrap;
}

.foto {
	display: flex;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 700px;
	align-items: center;
	justify-content: center;
	.foto1 {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
	}
	.tytul {
		color: white;
		flex-direction: column;
		display: flex;
		position: absolute;
		text-align: center;
		align-items: center;
		width: 800px;
		height: 200px;
		// background-color: aquamarine;
		text-shadow: 1px 1px 2px black;
		> h1 {
			font-size: 70px;
		}
	}
}

main {
	width: 100%;
}

.tlo {
	display: flex;
	width: 100%;
	height: 1000px;
	background-color: rgb(23, 112, 214);
	flex-wrap: wrap;
}

.info1 {
	display: flex;
	width: 50%;
	height: 500px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding: 10px;
	gap: 20px;
	color: white;
	.tytul2 {
		width: 100%;
	}
	.information {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
		padding: 10px;
		.list {
			width: 50%;
			height: 100px;
			ul,
			li {
				font-size: 25px;
			}
		}
		.text {
			width: 50%;
			height: 100px;
			text-align: left;
		}
	}

	> h1 {
		font-size: 35px;
	}
	// > h2 {
	// 	width: 100%;
	// 	height: 100px;
	// }
}

.info2 {
	width: 50%;
	height: 500px;
	// background-color: green;
}
